#content_warning_overlay {
        display: none;
 
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background-color:#000;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter:alpha(opacity=75);
    -moz-opacity: 0.75;
    opacity: 0.75;
}
 
#content_warning_window a:link {color: #666666;}
#content_warning_window a:visited {color: #666666;}
#content_warning_window a:hover {color: #000;}
#content_warning_window a:active {color: #666666;}
#content_warning_window a:focus{color: #666666;}
 
#content_warning_window {
        display: none;
 
    font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
    color: #333333;
    position: fixed;
    background: #ffffff;
    z-index: 102;
    color:#000000;
    text-align:left;
    top:50%;
    left:50%;
    border: 1px solid #555;
    -moz-box-shadow: rgba(0,0,0,1) 0 4px 30px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 4px 30px;
    -khtml-box-shadow: rgba(0,0,0,1) 0 4px 30px;
    box-shadow: rgba(0,0,0,1) 0 4px 30px;
        width: 500px;
        height: 350px;
        margin-left: -259px;
        margin-top: -300px;
}
#content_warning_textwrap {
        margin: 20px;
}
 
#content_warning_textwrap h1 {
        display: block;
        color: #FFF;
        background-color: #145AA0;
        padding: 10px -10px 10px 10px;
        text-align: center;
		width: 100%;
}
 
#content_warning_paragraphs {
        padding: 5px;
        border: 1px dotted #000;
}
 
#content_warning_paragraphs p {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
}
 
#enter_button {
        color: #333;
        font-weight: bold;
        margin: 10px;
        background-color: #C7FFA7;
        display: block;
        text-align: center;
        padding: 10px;
        width: 40%;
        height: 20px;
        float: left;
}
 
#exit_button {
        color: #333;
        font-weight: bold;
        margin: 10px;
        background-color: #CCC;
        display: block;
        text-align: center;
        padding: 10px;
        width: 40%;
        height: 20px;
        float: right;
}
 
.clearwarningbuttons {
        clear: both;
}
</style>