<!-- PHP -->
global $config, $template, $user;

$template->assign_vars(array(
		'DEFAULT_MODESTUS_SCHEME'		=> "{$config['default_modestus_scheme']}",
)
	);

$current_theme = $user->theme['theme_path'];	
$easy_theme = $_GET['ntheme'];

if(!isset($_COOKIE[$current_theme."-tstyle"])) {
$color_variation = $config['default_modestus_scheme'];
}

if(!empty($easy_theme)) {
	ob_start();
	setcookie($current_theme."-tstyle", $easy_theme, time()+31536000); /* Expires in a year */
        header("Location: ". $this->_rootref['U_INDEX']);
	exit;
	ob_end_flush();
}

if(isset($_COOKIE[$current_theme."-tstyle"])) {
	$color_variation = $_COOKIE[$current_theme."-tstyle"];
}


$template->assign_vars(array(
		'DEFAULT_MODESTUS_SCHEME'		=> $color_variation,
)
	);

$delete_cookies = $_GET['delete_cookies'];
if($delete_cookies == 'true') {

ob_start();
	setcookie($current_theme."-tstyle", "", time()-31536000);
	header("Location: ". $this->_rootref['U_INDEX']);
	exit;
ob_end_flush();

}
<!-- ENDPHP -->
