#
# phpBB Imageset Configuration File
#
# @package phpBB3
# @copyright (c) 2006 phpBB Group
# @license http://opensource.org/licenses/gpl-license.php GNU Public License
#
#
# At the left is the name, please do not change this
# At the right the value is entered
# For on/off options the valid values are on, off, 1, 0, true and false
#
# Values get trimmed, if you want to add a space in front or at the end of
# the value, then enclose the value with single or double quotes.
# Single and double quotes do not need to be escaped.
#
#

# General Information about this style
name = Ex-Zona Style
copyright = &copy; Repflez, RocketTheme 2010-2012
version = 0.3.0

# Images
img_site_logo = site_logo.png*46*177
img_poll_left =
img_poll_center =
img_poll_right =
img_icon_friend =
img_icon_foe =

img_forum_link = 
img_forum_read = 
img_forum_read_locked = 
img_forum_read_subforum = 
img_forum_unread = 
img_forum_unread_locked =
img_forum_unread_subforum = 

img_topic_moved = 

img_topic_read = 
img_topic_read_mine = 
img_topic_read_hot = 
img_topic_read_hot_mine = 
img_topic_read_locked = 
img_topic_read_locked_mine = 

img_topic_unread = 
img_topic_unread_mine = 
img_topic_unread_hot = 
img_topic_unread_hot_mine = 
img_topic_unread_locked = 
img_topic_unread_locked_mine = 

img_sticky_read = 
img_sticky_read_mine = 
img_sticky_read_locked = 
img_sticky_read_locked_mine = 
img_sticky_unread = 
img_sticky_unread_mine = 
img_sticky_unread_locked = 
img_sticky_unread_locked_mine = 

img_announce_read = 
img_announce_read_mine = 
img_announce_read_locked = 
img_announce_read_locked_mine = 
img_announce_unread = 
img_announce_unread_mine = 
img_announce_unread_locked = 
img_announce_unread_locked_mine =

img_global_read = 
img_global_read_mine = 
img_global_read_locked = 
img_global_read_locked_mine = 
img_global_unread = 
img_global_unread_mine = 
img_global_unread_locked = 
img_global_unread_locked_mine = 

img_subforum_read = 
img_subforum_unread = 

img_pm_read = 
img_pm_unread = 

img_icon_back_top = icon_back_top.png*11*11

img_icon_contact_aim = icon_contact_aim.png*20*20
img_icon_contact_email = icon_contact_email.png*20*20
img_icon_contact_icq = icon_contact_icq.png*20*20
img_icon_contact_jabber = icon_contact_jabber.png*20*20
img_icon_contact_msnm = icon_contact_msnm.png*20*20

img_icon_contact_www = icon_contact_www.png*20*20
img_icon_contact_yahoo = icon_contact_yahoo.png*20*20

img_icon_post_delete = icon_post_delete.png*20*20

img_icon_post_info = icon_post_info.png*20*20

img_icon_post_report = icon_post_report.png*20*20
img_icon_post_target = icon_post_target.png*9*11
img_icon_post_target_unread = icon_post_target_unread.png*9*11

img_icon_topic_attach = icon_topic_attach.png*10*7
img_icon_topic_latest = icon_topic_latest.png*15*15
img_icon_topic_newest = icon_topic_newest.png*9*11
img_icon_topic_reported = icon_topic_reported.png*14*16
img_icon_topic_unapproved = icon_topic_unapproved.png*14*16

img_icon_user_profile =

img_icon_user_warn = icon_user_warn.png*20*20

# QTE
img_icon_topic_cancel = icon_topic_cancel.gif*16*16
img_icon_topic_solved = icon_topic_solved.gif*16*16

# Thanks Mod
img_thankposts = thankposts.gif*20*20
img_removethanks = removethanks.gif*20*20
